#kontener {background-color: ligtgray; width: 1000px; margin-left: auto; margin-right: auto}

#naglowek {text-align: center; width: 100%; height: 150px;}

#head1 {float: left; width: 50%; height: 150px;}

#nawigacja {float: left; width: 15%; min-height: 450px;}

#glowny {float: left; width: 75%; min-height: 450px; background-color: #AAAAAA; text-align: center;}

#boczny {float: left; width: 15%; min-height: 450px;}

#stopka{clear: both; width: 100%; text-align: center;}
